
jupyter
numpy
pandas
matplotlib
seaborn
scikit-learn
jupyter
notebook
ipykernel
scipy
statsmodels
plotly

## El requirements.txt en un proyecto de Data Science debe contener solo las librerías Python que realmente vas a instalar con pip (no Conda, no sistema).